CONFIG_ID="f34592e0"
CONFIG_WIFI_SSID="Livebox-CC80"
CONFIG_WIFI_PASS="PqKXRmcprmeWChcfQD"
CONFIG_SERVER_IP="192.168.1.13"
CONFIG_SERVER_PORT=2626
CONFIG_MBEDTLS_CHACHA20_C=y
CONFIG_LWIP_IPV4_NAPT=y
CONFIG_LWIP_IPV4_NAPT_PORTMAP=y
CONFIG_LWIP_IP_FORWARD=y
CONFIG_LWIP_LOCAL_HOSTNAME="pixel-8-pro"
CONFIG_ENABLE_CAMERA=n

# Bluetooth configuration
CONFIG_BT_ENABLED=y
CONFIG_BT_BLUEDROID_ENABLED=y
CONFIG_BT_BLE_ENABLED=y
